/function_cloud_go
/function_cloud_js

/function_cloud/telegraf.conf
/function_cloud_js/telegraf.conf


/function_cloud/credentials.json
/function_cloud/telegraf
/function_cloud_js/telegraf.conf

function_cloud_go/